@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Space Grotesk', sans-serif;
  }

  ::-webkit-scrollbar {
    background-color: #f1f1ef;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #373530;
    border-radius: 3px;
  }

  #sidebar::-webkit-scrollbar {
    width: 8px;
  }

  #sidebar::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
  }

  .grid-view {
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  }

  .page-height {
    min-height: calc(100vh - 399.7px);
  }
  .sm-page-height {
    min-height: calc(100vh - 413.7px);
  }
  .md-page-height {
    min-height: calc(100vh - 385.7px);
  }
  .filter-suggestions::-webkit-scrollbar {
    display: none;
  }
  
}

@layer components {
  .sidebarLinks {
    @apply flex items-center w-full gap-2 p-2 text-sm font-semibold rounded-lg cursor-pointer hover:bg-light-primary hover:text-dark-primary sm:text-lg;
  }
}
